<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="sumsar.com.walsmart"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".WalSmartApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".productlist.view.ProductListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".productdetail.view.ProductDetailActivity"
            android:parentActivityName=".productlist.view.ProductListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".productlist.view.ProductListActivity"/>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>
